<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Expression.Interaction" version="3.0.40218.0" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.3" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.2.1" targetFramework="net472" />
  <package id="ShowMeTheXAML" version="2.0.0" targetFramework="net472" />
  <package id="System.Configuration.ConfigurationManager" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Permissions" version="5.0.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net472" />
  <package id="ToastNotifications" version="2.5.1" targetFramework="net472" />
  <package id="ToastNotifications.Messages" version="2.5.1" targetFramework="net472" />
</packages>